<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="skeleton" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <!--<jta-data-source>jdbc/OracleProduction</jta-data-source>-->
    <jta-data-source>jdbc/OracleXE</jta-data-source>
        
    <class>com.skeleton.entities.Action</class>
    <class>com.skeleton.entities.Actionscategory</class>
    <class>com.skeleton.entities.Address</class>
    <class>com.skeleton.entities.Auditing</class>
    <class>com.skeleton.entities.Company</class>
    <class>com.skeleton.entities.Role</class>   
    <class>com.skeleton.entities.Userroles</class>
    <class>com.skeleton.entities.Users</class>
    
         
    <shared-cache-mode>DISABLE_SELECTIVE</shared-cache-mode>
    <properties>
      <property name="eclipselink.jdbc.native-sql" value="true"/>
      <property name="eclipselink.target-database" value="Oracle"/>
      <!--<property name="eclipselink.sessions-xml" value="mysession.xml"/>
      <property name="eclipselink.allow-zero-id" value="true"/>
      <property name="eclipselink.logging.level" value="FINE"/> 
      <property name="eclipselink.logging.parameters" value="true"/> -->
    </properties>
  </persistence-unit>
</persistence>
